/* Algemene stijlen */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header en navigatiebalk */
header {
  background-color: #333;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  display: block;
  color: white; /* Zorg ervoor dat de tekst altijd zichtbaar is */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

/* Sectie stijlen */
section {
  padding: 20px;
}

section h1, section h2 {
  font-size: 24px;
}

.bio p, section p {
  font-size: 16px;
  line-height: 1.5;
}
body { background-image: url('pngtree-sleek-and-subtle-the-grayscale-illuminated-texture-image_13819905.png'); }
